/* Style für die What's next-Seite */

/* import von Farben, Fonts und den CSS-Files für die Desktop-, Tablet- und Mobile-Varianten */
@import url(../../css/sanitize.css);
@import url(../../css/colors.css);
@import url(../../Fonts/fonts.css);
@import url(mobile.css) only screen and (max-width:415px);
@import url(tablet.css) only screen and (min-width:416px) and (max-width:800px); 
@import url(desktop.css) only screen and (min-width:801px);

/* 1. Farben und Text-Dekoration */

header, nav, h1 {
   background-color: var(--pinkig);
   color: var(--quasiweiss);
}

main, footer {
   background-color: var(--quasischwarz);
   color: var(--quasiweiss);
}

/* Links, die noch nicht oder schon besucht wurden, sehen gleich aus */
div a, div a:visited {
   color: var(--quasiweiss);
   text-decoration: none;
}

/* die Links im Menü sollen dunkel werden, wenn man darüber hovert */
div a:hover {
   color: var(--quasischwarz);
   text-decoration: underline;
}

/* die Seite auf der wir sind, wird nicht verlinkt, bekommt eine dunkle Schrift und wird unterstrichen*/ 
#aktuell {
   color: var(--quasischwarz);
   text-decoration: underline;
}

/* 2. Form */

fieldset {
   border: none;
}

legend {
   text-decoration: underline;
}

#submit {
   margin-bottom: 2rem;
}

/* 3. Cursor - wird zur deutenden Hand */ 

a:hover, #submit:hover, #heart:hover {
   cursor: pointer;
}

/* 4. damit Wörter nicht unsinnig gebrochen werden */

body {
   word-break: normal;
}

/* 5. Footer - Layout */

/* Inhalt wird untereinander dargestellt */
footer {
   display: flex;
   flex-direction: column;
   text-align: center;
}

picture {
   text-align: center;
}