/* Style für die Pictures and Quotes-Seite - Mobile */

/* 1. Layout - display, position, float etc. */

/* display: grid um die inneren Elemente zu platzieren */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header" 
    "nav"
    "main"
    "footer";   
}

/* header bleibt auch beim Scrollen oben fixiert */
header {
    grid-area: header;
    position: sticky;
    top: 0;

    text-align: center;
}

nav {
    grid-area: nav; 
}

/* Elemente werden untereinander angezeigt */
nav div {
    display: flex;
    flex-direction: column;
}

div a {
    margin: 1rem;
}

/* das iframe wird in der Mobile-Variante ausgeblendet */
#iframepdf {
    display: none;
}

/* grid für die Bilder */
main {
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "pic1" 
        "pic2"
        "pic3" 
        "pic4"
        "script";
}

#pic1 {
    grid-area: pic1;
}
#pic2 {
    grid-area: pic2;
}

#pic3 {
    grid-area: pic3;
}

#pic4 {
    grid-area: pic4;
}

#script {
    grid-area: script;
}

#logo {
    width: 30px;
}

/* 2. Schrift allgemein*/

h1 {
    font-size: 1.5rem;
}

div a {
    font-size: 1.25rem;
}

figure {
    text-align: center;
}

figcaption, #script {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1rem;
}

footer {
    font-size: 1rem;
}